<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ext.ArchiveMsgInfoExtMapper" >

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into archive_msg_info (seq, publickey_ver, room_id, 
      msg_time, context, sender)
    values
    <foreach collection="list" item="record" index= "index" separator =",">
      (#{record.seq,jdbcType=INTEGER}, #{record.publickeyVer,jdbcType=INTEGER}, #{record.roomId,jdbcType=VARCHAR},
      #{record.msgTime,jdbcType=BIGINT}, #{record.context,jdbcType=VARCHAR}, #{record.sender,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
</mapper>