<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ext.CustomerGroupInfoExtMapper" >

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into customer_group_info
        (room_id, room_name, custom_name,
      product_type, project_number)
    values
    <foreach collection="list" item="record" index= "index" separator =",">
      (#{record.roomId,jdbcType=VARCHAR}, #{record.roomName,jdbcType=VARCHAR}, #{record.customName,jdbcType=VARCHAR},
      #{record.productType,jdbcType=VARCHAR}, #{record.projectNumber,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>